<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{>Links}}
    <title>Login</title>
  </head>
  <body>
{{>Navbar}}
    <div class="container mt-5 w-50">
      <h1 class="text-center mb-4">User Login</h1>
    <form method="POST" action="/login">
      <!-- Email input -->
      <div class="form-outline mb-4">
        <input type="email" id="form1Example1" class="form-control" name="email"/>
        <label class="form-label" for="form1Example1">Email address</label>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input type="password" id="form1Example2" class="form-control" name="password" />
        <label class="form-label" for="form1Example2">Password</label>
      </div>

      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block">Sign in</button>
    </form>
    </div>
  </body>
{{>Js}}
</html> 